/* All styles for your Card Components live here */


.cardContainer{
    width: 700px;
    border: 1px solid lightgray;
}

a{
    text-decoration: none;
}

h3{
    color: black;
}

p{
    color: black;
}

.shouldntBeTakingThisLong{
    margin:1rem;
}

.TurnMeGray{
    color: gray;
}